.invitation {
    display: block;
    /*min-height: 600px;*/
    background-color: black;
}

.invitation p {
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
}

/*TODO export below items to class*/
#when {
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
}

#where {
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
}

#where {
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
}

#confirmation {
    padding-left: 35%;
}