body {
	background-color: black;
	color: white;
}

a {
	color: white;
}

img {
	display: block;
}

.header {
	width: 100%;
	min-height: 100px;

	/*background: black;*/
	/*position: */

}

.header-content {
	position: absolute;
	left: 45%;	
	margin-top: 50px;
}

.content {
	width: 100%;
}

.content-box {
	position: relative;
	left: 30%;

	min-width: 50px;
	max-width: 400px;

	min-height: 400px;
	max-height: 400px;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 10px;

	/*display: block;*/
	

	/*background-color: blue;*/
}

.footer-content {
	position: relative;
	left: 10%;

	margin-left: 50px;
}